language: node_js

services:
  - mongodb

branches:
  only:
    - master

node_js:
  - "4"
  - "6"
  - "8"

script: "npm run-script test-cover"

after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
